{% if social_icons != '' and social_icons.settings.show_content %}
{% if holder %}<div class="{{ holder }}">{% endif %}
<div class="social-icon-round">
  <ul>
    {% if social_icons.settings.show_icon1 %}<li><a class="icon fa fa-facebook" href="{{ social_icons.settings.url_icon1 }}"></a></li>{% endif %}
    {% if social_icons.settings.show_icon2 %}<li><a class="icon fa fa-twitter" href="{{ social_icons.settings.url_icon2 }}"></a></li>{% endif %}
    {% if social_icons.settings.show_icon3 %}<li><a class="icon fa fa-vimeo" href="{{ social_icons.settings.url_icon3 }}"></a></li>{% endif %}
    {% if social_icons.settings.show_icon4 %}<li><a class="icon fa fa-instagram" href="{{ social_icons.settings.url_icon4 }}"></a></li>{% endif %}
  </ul>
</div>
{% if holder %}</div>{% endif %}
{% endif %}
