{% unless settings.catalogue_mode %}
{% if template != "cart" %}
<div class="cart">
  <div class="dropdown">
    <a class="dropdown-toggle">
      <span class="icon icon-shopping_basket"></span>
      <span class="badge badge-cart{% if cart.item_count == 0 %} empty{% endif %}">{{ cart.item_count }}</span>
      <div class="dropdown-label hidden-sm hidden-xs">{{ 'cart.header.cart_text' | t }}</div>
    </a>
    
    <div class="dropdown-menu slide-from-top">
      <div class="container">
        <div class="top-title">{{ 'cart.header.title' | t }}</div>
        <a href="#" class="icon icon-close cart-close"></a>
        <ul>{% for item in cart.items limit:20 %}{% include "menu-cart-item" %}{% endfor %}</ul>
        <h4 class="text-center{% if cart.item_count > 0 %} hide{% endif %} empty-cart-js">{{ 'cart.header.empty_cart' | t }}</h4>
        <div class="cart-bottom">
          <div class="pull-right">
            <div class="pull-left">
              <div class="cart-total">{{ 'cart.header.total' | t }} <span> {{ cart.total_price | money }}</span></div>
            </div>
            <a href="/checkout" class="btn icon-btn-left"><span class="icon icon-check_circle"></span>{{ 'cart.header.checkout' | t }}</a>
          </div>
          <div class="pull-left">
            <a href="/cart" class="btn icon-btn-left"><span class="icon icon-shopping_basket"></span> {{ 'cart.header.view_cart' | t }}</a>
          </div>
        </div>
        {% include 'menu-cart-item-empty' %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endunless %}