<div class="container offset-14">
  <h1 class="block-title large">{{ 'customer.account.title_main' | t }}</h1>
  <div class="offset-36">
    <h4>{{ 'customer.account.title' | t }}</h4>
    <hr class="hr-offset-7">
    <h4>{{ 'customer.account.order_history' | t }}</h4>
    {% if customer.orders.size > 0 %}{% paginate customer.orders by 20 %}
    <table class="table-order-history">
      <thead>
        <tr>
          <th>{{ 'customer.orders.order_number' | t }}</th>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>{{ 'customer.orders.payment_status' | t }}</th>
          <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th>{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr>
          <td><div class="th-title visible-xs">{{ 'customer.orders.order_number' | t }}</div>{{ order.name | link_to: order.customer_url }}</td>
          <td><div class="th-title visible-xs">{{ 'customer.orders.date' | t }}</div>{{ order.created_at | date: format: 'short' }}</td>
          {% if order.cancelled %}
          <td><div class="th-title visible-xs">{{ 'customer.orders.payment_status' | t }}</div>{{ 'customer.order.cancelled' | t }}</td>
          {% else %}
          <td><div class="th-title visible-xs">{{ 'customer.orders.payment_status' | t }}</div>{{ order.financial_status_label }}</td>
          {% endif %}
          <td><div class="th-title visible-xs">{{ 'customer.orders.fulfillment_status' | t }}</div>{{ order.fulfillment_status_label }}</td>
          <td><div class="th-title visible-xs">{{ 'customer.orders.total' | t }}</div>{{ order.total_price | money }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if paginate.pages > 1 %}<div class="text-center">{% include 'pagination' %}</div>
    <hr class="hr-offset-7">{% endif %}
    {% endpaginate %}{% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
    <hr class="hr-offset-7">
    {% endif %}    
    <h4>{{ 'customer.account.account_details' | t }}</h4>
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="responsive-table">
          <table class="table table-params">
            <tbody>
              <tr>
                <td>{{ 'customer.account.name' | t }}</td>
                <td>{{ customer.default_address.name }}</td>
              </tr>
              <tr>
                <td>{{ 'customer.account.email' | t }}</td>
                <td>{{ customer.email }}</td>
              </tr>
              {% if customer.default_address != nil %}
              <tr>
                <td>{{ 'customer.account.address' | t }}</td>
                <td>{{ customer.default_address.address1 }}</td>
              </tr>
              {% if customer.default_address.address2 != "" %}<tr>
              <td>{{ 'customer.account.address_2' | t }}</td>
              <td>{{ customer.default_address.address2 }}</td>
              </tr>{% endif %}
              <tr>
                <td>{{ 'customer.account.country' | t }}</td>
                <td>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</td>
              </tr>
              <tr>
                <td>{{ 'customer.account.zip' | t }}</td>
                <td>{{ customer.default_address.zip }}</td>
              </tr>
              <tr>
                <td>{{ 'customer.account.phone' | t }}</td>
                <td>{{ customer.default_address.phone }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <a href="/account/addresses" class="btn">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a> 
      </div>
    </div>
  </div>
</div>