<div class="container offset-14">
  <h1 class="block-title large">{{ 'customer.activate_account.title_main' | t }}</h1>
  <div class="row">

    <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
      <div class="login-form-box" id="login">
        <h2>{{ 'customer.activate_account.title_form' | t }}</h2>
        <p>{{ 'customer.activate_account.subtext' | t }}</p>
        {% form 'activate_customer_password' %}{{ form.errors | default_errors }}
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="icon icon-lock_outline"></span>
            </span>
            <input type="password" name="customer[password]" id="LoginFormPass1" class="form-control" placeholder="{{ 'customer.activate_account.password' | t }}">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="icon icon-lock_outline"></span>
            </span>
            <input type="password" name="customer[password_confirmation]" id="LoginFormPass1" class="form-control" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-3">
            <button type="submit" class="btn">{{ 'customer.activate_account.submit' | t }}</button>
          </div>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>