<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- v1.1.0 -->
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_base }}">
  <meta name="keywords" content="{{ "general.meta.keywords" | t }}" />
  <meta name="author" content="{{ "general.meta.author" | t }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  {%- if settings.use_favicon -%}
  	<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />
  {%- endif -%}

  <!-- Title and description ================================================== -->
  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- if settings.use_countdown_timezone -%}<meta name="timezone" content="{{ settings.countdown_timezone }}">{%- endif -%}
  
  <!-- Social meta ================================================== -->
  {%- include 'social-meta-tags' -%}

  <!-- Helpers ================================================== -->

  <!-- CSS ================================================== -->
  <link href="https://fonts.googleapis.com/css?family={{ settings.font_name }}:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  
  {%- include "include_css" -%}
  {{ 'jquery-2.1.4.min.js' | asset_url | script_tag }}
  {% if settings.popup_newsletter_show %}
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {% endif %}
  
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  <script>    
    var shop_url = '{{ shop.url }}',
    	money_format = '{{ shop.money_format }}',
        color_with_border = '{{ settings.shopby_color_filter_border }}',
        colors_value = '{{ ',' | append: settings.product_colors | strip_newlines | downcase | append: ',' }}',
    	texture_obj = function(){
      {%- assign str = '{' -%}
      {%- for i in (1..100) -%}
      {%- assign key = 'filter_color' | append:i -%}
      {%- unless settings[key] == blank -%}
      {%- assign image = 'filter_color' | append:i | append:'.png' -%}
      {%- assign image = image | asset_url -%}
      {%- if str.size > 1 -%}{%- assign str = str | append: ',' -%}{%- endif -%}
      {%- assign str = str | append:'"' | append: settings[key] | append:'"' | append: ':' | append:'"' | append: image | append:'"' -%}
      {%- endunless -%}
      {%- endfor -%}
      {%- assign str = str | append: '}' -%}
      return JSON.parse('{{ str }}');
    }
    texture_obj = texture_obj();
          
    var addtocart_text = '{{ "products.general.add_to_cart_html" | t }}',
    	unavailable_text = '{{ "products.general.unavailable" | t }}',
        addedhtml_text = '{{ "products.general.added_html" | t }}',
        errorhtml_text = '{{ "products.general.error_html" | t }}',
        wait_text = '{{ "products.general.wait_html" | t }}';
        
    var set_day = '{{ "general.countdown.day" | t }}',
        set_hour = '{{ "general.countdown.hour" | t }}',
        set_minute = '{{ "general.countdown.minute" | t }}',
        set_second = '{{ "general.countdown.second" | t }}';
        
    var mobile_menu_close = '{{ "general.menu.button_close" | t }}',
    	mobile_menu_back = '{{ "general.menu.button_back" | t }}'
  </script>
  {% unless settings.show_emptyreview %}
  <style>
    [data-rating="0.0"]{
      display:none !important;
    }
  </style>
  {% endunless %}

  {% include 'shogun-head' %}
</head>

<body {% if settings.use_scale_product_image %}id="same_product_height"{% endif %}>
  {%- if settings.show_helper and template == "index" -%}{%- section "show-helper" -%}{%- endif -%}
  {%- if settings.show_preloader -%}{%- include "loader" -%}{%- endif -%}

  {%- capture header -%}{%- section 'header' -%}{%- endcapture -%}
  {%- assign mainmenu = header | split: '[/mainmenu]</div>' | first -%}
  {%- assign mainmenu = mainmenu | split: '<div style="display:none;">[mainmenu]' | last -%}
  {{ header | replace: mainmenu, '' | replace: '<div style="display:none;">[mainmenu][/mainmenu]</div>', '' }}

  {%- if template != "index" -%}
  {%- unless template contains "no_breadcrumbs" -%}
  	{%- include "breadcrumb" -%}
  {%- endunless -%}
  {%- endif -%}

  <div id="pageContent">
    {%- if template == "index" and settings.home_page_layout == 'home-page_layout-2' -%}{%- include "home-page_layout-2" -%}
    {%- else -%}{{ content_for_layout }}
    {%- endif -%}
  </div>

  {%- section 'footer' -%}
  
  {%- if settings.product_item_show_quickview -%}
  {%- if content_for_layout contains 'data-target="#ModalquickView"' %}{%- include "modal-quickview" -%}
  {%- elsif template == "index" and settings.home_page_layout == 'home-page_layout-2' -%}{%- include "modal-quickview" -%}
  {%- endif -%}{%- endif -%}
  {%- include 'search-autocomplete' -%}
  {%- include 'preloader-ajax' %}
  {%- include 'main-menu-mobile' mm: mainmenu anotherparent:' mainmenu-mobile' -%}
  {%- include "modal-addtocart" -%}
  {%- include 'modal-newsletter' -%}
  {%- include "include_js" -%}
  {%- include "currencies" -%}
  
  {%- if settings.show_helper and template == "index" -%}
    <script>
      var adminlinks = '{{ settings.helper_info }}';
    </script>
    {{ 'admin-panel.js' | asset_url | script_tag }}
  {%- endif -%}
</body>
</html>
