<div class="container{% unless section.settings.topoffset %} offset-0{% else %} offset-57{% endunless %}" data-sectionname="index_verticaltabs">
  <div class="tab-aside row{% unless section.settings.topoffset %} offset-0{% endunless %}">
    {% if section.blocks.size > 0 %}
    <div class="col-xs-12 col-sm-3 col-md-3">
      <h2 class="block-title text-left">{{ section.settings.title }}</h2>
      <ul class="nav nav-tabs nav-tabs--carusel" role="tablist">
        {% for block in section.blocks %}
        <li{% if forloop.first %} class="active"{% endif %}>
          <a href="#{{ section.id }}{{ forloop.index }}" role="tab" data-toggle="tab">{{ block.settings.tab_name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9">
      <div class="tab-content tab-content-carusel">
        {% for block in section.blocks %}
        <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ section.id }}{{ forloop.index }}"></div>
        {% endfor %}
      </div>
      <!-- carousel-products  row -->
      {% for block in section.blocks %}
      {%- assign name_collection = block.settings.collection -%}
      {%- if name_collection == blank -%}{%- assign name_collection = "all" -%}{%- endif -%}
      {%- assign collection = collections[name_collection] -%}
      <div id="{{ section.id }}{{ forloop.index }}-clone" style="display:none">
        <div class="product-listing row carouselTab1">
          {% for product in collection.products limit: section.settings.limit %}
          <div class="col-xs-6 col-sm-6 col-md-4">
            {% include "product-grid-item" %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Tabs Vertical",
  "class": "index-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "checkbox",
      "id": "topoffset",
      "label": "Top Offset",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "WOMEN’S"
    },
    {
      "type": "text",
      "id": "limit",
      "label": "Items Length. Integer",
      "default": "8"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name",
          "default": "Tab"
        },
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs Vertical",
      "category": "Products",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}