<div data-sectionname="slider_withbanners">
  <div class="slick-slider-indent">
    {% if section.blocks.size > 0 %}
    <div class="slick-slider slick-slider-content" data-slick='{"autoplay": {{ section.settings.module_autoplay }}, "autoplaySpeed": {{ section.settings.delay_time }}}'>
      {% for block in section.blocks %}{% assign item = block.settings %}
      <div>
        {% if item.image == blank %}{% include "get_svg" type:'image' size:'895x564px' %}
        {% else %}<img src="{{ item.image | img_url: '900x' }}" alt="{{ item.image.alt }}">
        {% endif %}
        <div class="description{% if item.position == 'left' %} point-left{% elsif item.position == 'right' %} right-offset{% endif %}">
          <div class="block-table">
            <div class="block-table-cell">
              {% if item.texts_size == 'small_big' %}
              {% if item.text1 %}<p style="color:{{ item.color_title }}">{{ item.text1 }}</p>{% endif %}
              {% if item.text2 %}<div class="title" style="color:{{ item.color_title2 }}">{{ item.text2 }}</div>{% endif %}
              {% else %}
              {% if item.text1 %}<div class="title" style="color:{{ item.color_title }}">{{ item.text1 }}</div>{% endif %}
              {% if item.text2 %}<p style="color:{{ item.color_title2 }}">{{ item.text2 }}</p>{% endif %}
              {% endif %}
              {% if item.showbtn %}<a href="{{ item.link }}" class="btn btn-lg" style="color:{{ item.cbtntext }}; background:{{ item.cbtnbg }};" data-c="{{ item.cbtntext }}" data-ac="{{ item.acbtntext }}" data-bgc="{{ item.cbtnbg }}" data-abgc="{{ item.acbtnbg }}" data-hovercolors>{{ section.settings.btnname }}</a>{% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Slider",
  "settings": [
    {
      "type": "text",
      "id": "btnname",
      "label": "Button Name",
      "default": "SHOP NOW!"
    },
    {
      "type": "header",
      "content": "Autoplay"
    },
    {
      "type": "checkbox",
      "id": "module_autoplay",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "select",
      "id": "delay_time",
      "label": "Change slides every",
      "options": [
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "7000"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "radio",
          "id": "position",
          "label": "Position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "radio",
          "id": "texts_size",
          "label": "Texts Size",
          "default": "big_small",
          "options": [
            {
              "value": "big_small",
              "label": "Big - Small"
            },
            {
              "value": "small_big",
              "label": "Small - Big"
            }
          ]
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text 1",
          "default": "Get Ready<br>for Website<br>Creation"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text 2",
          "default": "Unlike Anything You<br>Have Ever Seen"
        },
        {
          "type": "checkbox",
          "id": "showbtn",
          "label": "Show Button",
          "default": true
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Text 1 Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_title2",
          "label": "Text 2 Color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Button Colors"
        },
        {
          "type": "color",
          "id": "cbtnbg",
          "label": "Background Color",
          "default": "#5fd179"
        },
        {
          "type": "color",
          "id": "cbtntext",
          "label": "Text Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "acbtnbg",
          "label": "Active Background Color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "acbtntext",
          "label": "Active Text Color",
          "default": "#ffffff"
        }
      ]
    }
  ]
}
{% endschema %}